# No hay dependencias externas por ahora, ya que usamos módulos estándar de Python
# (os, sys, re). Se deja listo por si en el futuro se añade yara-python u otras.

# Dependencias SQA
pytest
pytest-cov
pytest-html
mutmut
behave
